.enter-game-code-dialog-wrapper {
  background: $primary-color;
  height: 100vh;
}

.enter-game-code {
  height: auto;
}

.enter-game-code h1 {
  margin: 0px;
  font-size: 28px;
}

.enter-game-code h2 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;

  &:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.enter-game-code input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 5px solid $primary-color;
  font-size: larger;
  color: $primary-color;
  font-weight: bold;
  font-family: inherit;
}

.enter-game-code .large-button:not(.enabled) {
  opacity: 0.2;
  cursor: default;
}

.enter-game-code-active-game-codes {
  border: 10px solid $primary-color;
  background: $primary-color;
  // padding: 0px 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 170px;
  text-align: left;
  margin-bottom: 10px;
}

.enter-game-code-active-game-button {
  display: inline-block;
  padding: 7px 8px 7px 10px;
  margin: 0px 5px 5px 0px;
  border: 2px solid white;
  transition: all 0.3s linear;
  font-weight: bold;
  font-size: 14px;
  background: $primary-color;
  color: white;
  &:hover {
    color: $primary-color;
    background: white;
  }
}
