.game-info-restart {
  margin-top: auto;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  border-top: 1px solid $primary-color;
  padding-top: 20px;
}

.game-info-not-finished {
  height: 600px;
  max-height: 600px;
}

.game-info-finished {
  height: 300px !important;
  max-height: 300px !important;
  min-height: 300px;

  .large-button {
    margin-top: auto !important;
  }
}

.game-info-dialog-wrapper,
.individual-game-info-dialog-wrapper,
.score-dialog-dialog-wrapper,
.highscore-dialog-wrapper,
.game-finished-dialog-wrapper {
  z-index: 4;
  position: fixed;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  top: 0px;

  @include md {
    height: 100%;
    background: none;
  }
}

.game-info h1 {
  margin: 0px;
}

.game-info h2 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.game-info h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.game-info li {
  width: auto;
  text-align: left;
  margin-bottom: 10px;
}

.game-info .large-button {
  margin-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.game-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.game-info-link {
  a {
    margin-left: 10px;
  }
}

.game-info .game-info-code {
  margin-left: -30px;
  margin-right: 10px;
}

.game-info-code {
  border: 5px dashed $primary-color;
  color: $primary-color;
  display: block;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
