.game-info {
}

.game-info h1 {
  margin: 0px;
}

.game-info h2 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.game-info h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.game-info li {
  width: auto;
  text-align: left;
  margin-bottom: 20px;
}

.game-info .large-button {
  margin-top: auto;
}

.game-info > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-info-link {
  a {
    margin-left: 10px;
  }
}

.game-info-code {
  border: 5px dashed $primary-color;
  color: $primary-color;
  display: block;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
  margin-top: 20px;
  text-align: center;
}
