@import "../colors";

.global-highscore {
  background: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  box-sizing: content-box;
  flex-direction: column;
}

.global-highscore-content {

}

.start-page .scrollable-table {
  max-width: 100vw;
  overflow-x: auto;

  @include md {
    max-width: 100%;
    width: $screen-md-min;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
  }
}

.global-highscore-content {
  .loader-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  margin-bottom: 100px;
}

.global-highscore .link-column {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.global-highscores-tabs {
  border-bottom: 4px solid $primary-color;
  width: 100vw;
  margin-bottom: 50px;
}

.global-highscores-tabs .container {
  display: flex;
}

.global-highscores-tabs .tab {
  background: $primary-color;
  border: 4px solid $primary-color;
  border-bottom-width: 0px;
  padding: 10px 20px;
  color: white;
  margin-right: -4px;
  margin-bottom: -4px;
  cursor: pointer;
  margin-right: 4px;
}

.global-highscores-tabs .tab.active {
  background: white;
  color: $primary-color;
  border-color: $primary-color;
}

.global-highscores-tabs .tab:hover {
  background: white;
  color: $primary-color;
  border-color: $primary-color;
}

.global-highscores .tab-content {
  display: none;
}

.global-highscores .tab-content.active {
  display: block;
}

.global-highscore-content table {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 100vw;
  border-collapse: collapse;
  border: 1px solid $primary-color;
}

.global-highscore-content td,
.global-highscore-content th {
  border-bottom: 1px solid $primary-color;
  padding: 10px 20px;
}

.global-highscore-content td,
.global-highscore-content th {
  text-align: center;
  border-right: 1px solid $primary-color;
}

.global-highscore-content th {
  text-align: center;
  background: $primary-color;
  color: white;
  border-color: white;
}

.global-highscore-content td:last-of-type,
.global-highscore-content th:last-of-type {
  border-right: 0px;
}

.global-highscore-content tr:first-of-type {
  font-weight: bold;
}

.global-highscore-content tr{
  &:hover {
    background: black;
    color: white;
    cursor: pointer;

    .link-column {
      color: white;
    }
  }
}

.global-highscore-content .large-button {
  background: white;
  color: black;
  margin-top: auto;
  animation-delay: 6s;
  opacity: 0;
}

.global-highscore-content .large-button:hover {
  background: black;
  color: white;

  @include box-shadow(white);
}

.is-admin .global-highscore-content table .hidden {
  display: table-cell;
}

.global-highscore-content table .hidden {
  display: none;
}
