@import "../colors";

.highscore {
  background: $primary-color;
  color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include md {
    height: 100%;
    width: auto;
    background: $primary-color;
    min-height: inherit;
    @include box-shadow(black);
  }
}

// .highscore-content {
//   width: 500px;
//   max-width: 100%;
//   padding: 40px 40px;
//   box-sizing: border-box;
//   margin-right: auto;
//   margin-left: auto;
//   border: 1px solid red;
//   color: white;
//   display: flex;
//   flex-direction: column;
//   min-height: 300px;
//   background: $primary-color;
//   border: 1px solid white;
//   opacity: 0;
//   animation: bounceIn 1s linear forwards;
//   animation-delay: 5s;
//
//   @include box-shadow(white);
// }

.highscore-content {
  display: flex;
  flex-direction: column;
}

.highscore-content table {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: 100px;
}

$initial-animation-delay: 7;

@mixin replayButton ($numberOfPlayers) {
  $animationDelay: $initial-animation-delay + ($numberOfPlayers * 0.5);

  .large-button {
    animation: pulse 1s linear forwards infinite,
      show 0.3s linear #{($animationDelay)}s forwards;
  }
}

@mixin playerAnimations ($numberOfPlayers) {
  @for $i from 1 through $numberOfPlayers {
    .highscore-content tr:nth-of-type(#{$i}) {
      animation-delay: #{(
          $initial-animation-delay +(($numberOfPlayers - ($i + 1)) * 0.5)
        )}s;
    }
  }
}

.highscore {
  &.one-player {
    @include playerAnimations(1);
    @include replayButton(1);
  }
  &.two-players {
    @include playerAnimations(2);
    @include replayButton(2);
  }
  &.three-players {
    @include playerAnimations(3);
    @include replayButton(2);
  }
  &.four-players {
    @include playerAnimations(4);
    @include replayButton(4);
  }
  &.five-players {
    @include playerAnimations(5);
    @include replayButton(5);
  }
  &.six-players {
    @include playerAnimations(6);
    @include replayButton(6);
  }
  &.seven-players {
    @include playerAnimations(7);
    @include replayButton(7);
  }
  &.eight-players {
    @include playerAnimations(8);
    @include replayButton(8);
  }

  .highscore-content tr {
    animation: show 0.3s linear forwards;
    opacity: 0;
  }
}

.highscore-content td {
  border-bottom: 1px solid white;
  padding: 10px 0px;
}

.highscore-content td:first-of-type {
  text-align: left;
  padding-left: 5px;
}

.highscore-content td:last-of-type {
  text-align: right;
  padding-right: 5px;
}

.highscore-content tr:first-of-type {
  font-weight: bold;
}

.highscore-content .large-button {
  background: white;
  color: black;
  margin-top: auto;
  animation-delay: 6s;
  opacity: 0;
}

.highscore-content .large-button:hover {
  background: black;
  color: white;
  box-shadow: 2px 2px 0px white, 3px 3px 0px white, 4px 4px 0px white,
    5px 5px 0px white, 6px 6px 0px white, 7px 7px 0px white;
}
