.individual-game-info {
  .indivudal-game-info-restart {
    margin-top: auto;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
  }
}

.individual-game-info {
}

.individual-game-info h1 {
  margin: 0px;
}

.individual-game-info h2 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.individual-game-info-link {
  a {
    margin-left: 10px;
  }
}

.individual-game-info .large-button {
  margin-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
