$white: #f2ece4;
$light: #f2ece4;
$dark: #000000;
$animation-time: 10s;
$roll-dice-time: $animation-time/4.5;
$dice-size: 90px;

.loader-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.loader-container {
  width: $dice-size;
  height: $dice-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-text {
  margin-top: 20px;
  display: block;
  font-size: smaller;
}

.loader {
  display: inline-block;
  animation: roll_dice $roll-dice-time infinite ease-in;
  transform-origin: center center;

  .square {
    background-color: $white;
    opacity: 1;
    transition: background-color 0.25s;
    width: $dice-size/3 - 10px;
    height: $dice-size/3 - 10px;
    margin: 2px;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
  }

  .row {
    display: inline;
    height: 0px;
  }

  .square_one {
    animation: square_one $animation-time infinite;
  }

  .square_two {
    animation: square_two $animation-time infinite;
  }

  .square_three {
    animation: square_three $animation-time infinite;
  }

  .square_four {
    animation: square_four $animation-time infinite;
  }

  .square_five {
    animation: square_five $animation-time infinite;
  }

  .square_six {
    animation: square_six $animation-time infinite;
  }

  .square_seven {
    animation: square_seven $animation-time infinite;
  }

  .square_eight {
    animation: square_eight $animation-time infinite;
  }

  .square_nine {
    animation: square_nine $animation-time infinite;
  }
}

@keyframes roll_dice {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes square_one {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $dark;
  }
  37.5% {
    background-color: $white;
  }
  50% {
    background-color: $dark;
  }
  62.5% {
    background-color: $dark;
  }
  75% {
    background-color: $dark;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_two {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $white;
  }
  37.5% {
    background-color: $white;
  }
  50% {
    background-color: $white;
  }
  62.5% {
    background-color: $white;
  }
  75% {
    background-color: $white;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_three {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $white;
  }
  37.5% {
    background-color: $dark;
  }
  50% {
    background-color: $dark;
  }
  62.5% {
    background-color: $dark;
  }
  75% {
    background-color: $dark;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_four {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $white;
  }
  32.5% {
    background-color: $white;
  }
  50% {
    background-color: $white;
  }
  62.5% {
    background-color: $white;
  }
  75% {
    background-color: $dark;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_five {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $dark;
  }
  25% {
    background-color: $white;
  }
  37.5% {
    background-color: $dark;
  }
  50% {
    background-color: $white;
  }
  62.5% {
    background-color: $dark;
  }
  75% {
    background-color: $white;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_six {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $white;
  }
  37.5% {
    background-color: $white;
  }
  50% {
    background-color: $white;
  }
  62.5% {
    background-color: $white;
  }
  75% {
    background-color: $dark;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_seven {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $white;
  }
  37.5% {
    background-color: $dark;
  }
  50% {
    background-color: $dark;
  }
  62.5% {
    background-color: $dark;
  }
  75% {
    background-color: $dark;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_eight {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $white;
  }
  37.5% {
    background-color: $white;
  }
  50% {
    background-color: $white;
  }
  62.5% {
    background-color: $white;
  }
  75% {
    background-color: $white;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}

@keyframes square_nine {
  0% {
    background-color: $white;
  }
  12.5% {
    background-color: $white;
  }
  25% {
    background-color: $dark;
  }
  37.5% {
    background-color: $white;
  }
  50% {
    background-color: $dark;
  }
  62.5% {
    background-color: $dark;
  }
  75% {
    background-color: $dark;
  }
  87.5% {
    background-color: $light;
  }
  100% {
    background-color: $white;
  }
}
