@import "../colors";

@mixin button($scale) {
  width: 90px * $scale;
  height: 90px * $scale;
  font-size: 25px * $scale;
  line-height: 25px * $scale;
  margin: 8px * $scale;
}

@mixin buttons($scale) {
  .score-dialog-number-button {
    @include button($scale);
  }
}

.score-dialog h1 {
  margin: 0px;
  padding: 0px;
  // display: flex;
  justify-content: center;
  align-items: center;

  .score-dialog-delete-button {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: red;
    font-size: 12px;
  }
}

.score-dialog h2 {
  font-size: 12px;
}

.score-dialog-number-button.skip-button {
  background-image: url("frown-face-inactive.svg");
  background-size: 90% 90%;
  background-color: white;
  background-position: center center;
  border: 6px solid $primary-color;
}

.score-dialog-number-button.skip-button:hover,
.score-dialog-number-button.skip-button.marked {
  border-color: black;
  background-image: url("frown-face-active.svg");
  background-size: 90% 90%;
  background-position: center center;
  border-color: black;
}

.score-dialog-number-buttons.full_house {
  @include buttons(0.55);

  @include sm {
    padding: 10px;

    @include buttons(0.6);
  }
}

.score-dialog-number-buttons.chance {
  @include buttons(0.5);

  @include sm {
    padding: 10px;

    @include buttons(0.55);
  }
}

.score-dialog-number-buttons.one_pair,
.score-dialog-number-buttons.four_of_a_kind,
.score-dialog-number-buttons.three_of_a_kind {
  padding: 0px;

  @include buttons(0.9);

  @include sm {
    padding: 10px;

    @include buttons(1);
  }
}

.score-dialog-number-buttons.two_pairs {
  padding: 0px;

  @include buttons(0.75);

  @include sm {
    padding: 10px;

    @include buttons(0.85);
  }
}

.score-dialog-number-buttons.ones,
.score-dialog-number-buttons.twos,
.score-dialog-number-buttons.threes,
.score-dialog-number-buttons.fours,
.score-dialog-number-buttons.fives,
.score-dialog-number-buttons.sixes {
  padding: 0px;

  @include buttons(0.9);

  @include sm {
    padding: 10px;
    @include buttons(1);
  }
}

.score-dialog-number-buttons.yatzy,
.score-dialog-number-buttons.small_straight,
.score-dialog-number-buttons.large_straight {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;

  @include buttons(1.3);

  @include sm {
    padding: 20px;

    @include buttons(1.6);
  }
}

.score-dialog-number-button {
  background: $primary-color;
  color: white;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s linear;
  text-align: center;
}

.score-dialog-number-button:hover {
  background: black;
  color: white;
  transition: all 0.1s linear;
}

.score-dialog-submit-button {
  background: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  margin: 30px 20px;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s linear;

  @include box-shadow(black);

  @include lg {
    margin: 0px 20px;
    margin-top: auto;
  }
}

.score-dialog-submit-button:not(.enabled) {
  opacity: 0.2;
  cursor: default;
}

.score-dialog-submit-button:not(.disabled):hover {
  background: black;
  color: white;
  transition: all 0.1s linear;
  @include box-shadow($primary-color);
}

.score-dialog-delete-button {
  display: none;

  &.visible {
    display: block;
  }
}
.score-dialog-number-button.marked {
  background-color: black;
  color: white;
}

.score-dialog-input-field {
  display: none;
}
