@import "../colors";

.score-card-wrapper {
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;

  &:not(.has-selected-player) {
  }

  &.has-selected-player {
    width: 100%;
    max-width: 500px;
    table {
      width: 100%;
      max-width: 500px;
    }

    @include md {
      margin-left: auto;
      margin-right: auto;
      width: auto;
      border: 10px solid white;
      @include box-shadow($primary-color);
    }
  }
}

.score-card {
  border-collapse: collapse;
  border: 10px solid $primary-color;

  .inactive {
    background: white;
  }

  .partly-active {
    @include background-opacity($primary-color, 0.1);
  }

  &.loading {
    opacity: 0.5;
  }

  &.show-counted-values {
    td.counted {
      animation: bonus 1.5s linear forwards !important;
    }
  }

  &.allow-interaction {
    th.active span {
      animation: flash 3s linear infinite;
      display: block;
    }

    td.active {
      background: $primary-color;
      border: 1px solid white;
    }

    &:not(.has-selected-player) {
      td.active:hover {
        cursor: pointer;
        background: white;
      }
    }

    .new {
      animation: new-value 13s linear alternate-reverse;
      animation-iteration-count: 2;
      font-weight: bold;
    }
  }

  &.show-total-sum {
    tr:last-of-type {
      display: table-row;
    }
  }

  tr:last-of-type {
    display: none;
  }

  &.has-selected-player {
    td:not(:first-of-type) {
      opacity: 0.5;
    }

    .selected,
    .box,
    th:first-of-type {
      opacity: 1 !important;
      display: table-cell !important;
    }

    th:not(.selected, .box),
    td:not(.selected, .box) {
      display: none;
    }

    td.selected.active:hover {
      cursor: pointer;
      background: white;
    }
  }

  td {
    border: 1px solid $primary-color;
    padding: 10px 20px;
    border-collapse: collapse;
    text-align: center;
  }

  th {
    border: 0px;
    padding: 10px 20px;
    color: white;
    background: $primary-color;
  }

  td.box {
    background: white;
  }

  td.box.party-active {
    @include background-opacity($primary-color, 0.1);
  }

  td:first-of-type {
    background: white;
    color: $primary-color;
    font-weight: bold;
  }

  tr:last-of-type td {
    border-top: 5px solid $primary-color;
  }

  tr:nth-of-type(2) td {
    border-top: 0px;
  }

  tr:nth-of-type(8) td {
    border-top: 5px solid $primary-color;
  }
  tr:nth-of-type(9) td {
    border-bottom: 5px solid $primary-color;
  }

  .bonus-cell {
    font-weight: bold;
    animation: tada 1s linear forwards, bonus 1.5s linear forwards !important;
  }

  .upper-sum.neutral,
  .upper-sum.negative,
  .upper-sum.positive {
    font-weight: bold;
    opacity: 0.5;
  }
}

.show-results {
  td.counted {
    animation: none !important;
  }

  .bonus-cell {
    animation: none !important;
  }
}
