.start-page {
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

.start-page-arrow-down {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 120px;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 120px solid $primary-color;
  margin-top: -120px;
  background: white;
}

.start-page-select-mode {
  min-height: 100vh;

  position: relative;
  background: linear-gradient(to bottom, #3c1053, $primary-color, $primary-color);
}

.start-page-select-mode-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  h1 {
    display: block;
    font-size: 80px;
    line-height: 40px;
    padding: 0px 20px;
  }

  p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding: 0px 20px;
  }
}

.start-page-show-score-card .score-card {
  margin: 0 auto;

}

.start-page-show-score-card > .animated {
  z-index: 3;

  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: auto;

  @include md {
    height: initial;
    width: initial;
  }
}

.link-column {
  text-decoration: underline;
  font-weight: bold;
}

.start-page-select-mode-buttons {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;

  .large-button {
    background: white;
    color: black;
    margin: 10px 0px;

    &:hover {
      background: black;
      color: white;
      cursor: pointer;
      @include box-shadow(white);
    }
  }
}

.start-page-global-highscore {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  color: $primary-color;
  padding-bottom: 50px;
}

.start-page-statistics {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  position: relative;
  color: white;

  background: linear-gradient(to right, $primary-color, #3c1053);

  table, th, td {
    border-color: white !important;
  }
   th {
     background: white !important;
     color: $primary-color !important;
     border-color: $primary-color !important;
  }
}
