.top-bar {
  width: 100%;
  height: 60px;
  background: $primary-color;
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  padding: 20px;

  .topbar-not-waiting,
  .top-bar-waiting {
    span {
      display: block;

      &:nth-of-type(2) {
        font-weight: bold;
        font-size: larger;
      }
    }
  }

  &.loading {
    .loader-container {
      transform: scale(0.4);
      margin-top: 20px;
    }
  }

  .top-bar-refresh-button {
    position: absolute;
    background-image: url("reload.svg");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 60px;
    left: 0px;
    background-color: $primary-color;
    opacity: 0;

    &:active {
      opacity: 1;
    }
  }

  .top-bar-info-button {
    position: absolute;
    background-image: url("cog.svg");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 50px;
    right: 0px;
    background-color: $primary-color;
  }
}
