@import "colors";

@keyframes bonus {
  0% {
    background: $primary-color;
    color: white;
  }
  70% {
    color: black;
  }
  90% {
    background: #ffffff;
    color: black;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes show-animation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hide-animation {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
