@import "animations";
@import "colors";

@import "dialog";

@import "./views/add-remove-players";
@import "./views/game-finished";
@import "./views/score-card";
@import "./views/score-dialog";
@import "./views/highscore";

html,
body {
  font-family: monospace, sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background: white;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
//
// button,
// .button {
//   border: none;
//   padding: 0px;
//   font: inherit;
//   cursor: pointer;
//   outline: inherit;
// }

button {
  outline: inherit;
  font: inherit;
  cursor: pointer;
  border: none;
}

.large-button {
  background: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  margin: 0px 20px;
  font-weight: bold;
  display: inline-block;
  margin-top: auto;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black,
    5px 5px 0px black, 6px 6px 0px black, 7px 7px 0px black;
}
