html,
body {
  font-family: monospace, sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  background: white;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-dialog-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.input-dialog {
  background: white;
  width: 500px;
  height: 500px;
  padding: 50px 20px 30px 20px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: 2px 2px 0px #4717f6, 3px 3px 0px #4717f6, 4px 4px 0px #4717f6,
    5px 5px 0px #4717f6, 6px 6px 0px #4717f6, 7px 7px 0px #4717f6;
}

.input-dialog h1 {
  margin: 0px;
  padding: 0px;
}

.input-dialog h2 {
  font-size: 12px;
}

.input-dialog-input-field {
  display: none;
}

.button {
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.input-dialog-number-buttons {
}

.input-dialog-number-button {
  background: #4717f6;
  color: white;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  transition: all 0.3s linear;
}

.input-dialog-number-button:hover {
  background: black;
  color: white;
  transition: all 0.1s linear;
}

.input-dialog-submit-button {
  background: #4717f6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-top: auto;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 0px black, 3px 3px 0px black, 4px 4px 0px black,
    5px 5px 0px black, 6px 6px 0px black, 7px 7px 0px black;
}

.input-dialog-submit-button.disabled {
  opacity: 0.2;
  cursor: default;
}

.input-dialog-submit-button:not(.disabled):hover {
  background: black;
  color: white;
  transition: all 0.1s linear;
  box-shadow: 2px 2px 0px #4717f6, 3px 3px 0px #4717f6, 4px 4px 0px #4717f6,
    5px 5px 0px #4717f6, 6px 6px 0px #4717f6, 7px 7px 0px #4717f6;
}

.input-dialog-number-button.marked {
  background: black;
  color: white;
}

.input-dialog-cancel-button {
  background: #4717f6;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  top: 20px;
  right: 20px;
}

.table-wrapper {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  border: 10px solid white;
  box-shadow: 2px 2px 0px #4717f6, 3px 3px 0px #4717f6, 4px 4px 0px #4717f6,
    5px 5px 0px #4717f6, 6px 6px 0px #4717f6, 7px 7px 0px #4717f6;
}

table {
  border-collapse: collapse;
  border: 10px solid #4717f6;
}

.inactive {
  background: white;
}

table td {
  border: 1px solid #4717f6;
  padding: 10px 20px;
  border-collapse: collapse;
  text-align: center;
}

th {
  border: 0px;
  padding: 10px 20px;
  color: white;
  background: #4717f6;
}

td.active {
  background: #4717f6;
  border: 1px solid white;
}

td.box {
  background: white;
}

td.active:hover {
  cursor: pointer;
  background: white;
}

td:first-of-type {
  background: white;
  color: #4717f6;
  font-weight: bold;
}

tr:last-of-type td {
  border-top: 5px solid #4717f6;
}

tr:nth-of-type(2) td {
  border-top: 0px;
}

tr:nth-of-type(8) td {
  border-top: 5px solid #4717f6;
}
tr:nth-of-type(9) td {
  border-bottom: 5px solid #4717f6;
}
